<div id="nav">
    <div class="con">
        <div class="log">个人博客</div>
        <ul>
            <li id="l1"><a href="/" >网站首页</a></li>
            <li id="l2"><a href="/lists">文章列表</a>
                <ul id="sub_nav">
                    <li><a href="">Python</a></li>
                    <li><a href="">Python web</a></li>
                    <li><a href="">爬虫</a></li>
                    <li><a href="">人工智能</a></li>
                    <li><a href="">js实例索引</a></li>
                </ul>
            </li>
            <li id="l3"><a href="/pics">我的相册</a></li>
            <li id="l4"><a href="">时间轴</a></li>
            <li id="l5"><a href="">留言</a></li>
            <li id="l6"><a href="">关于我</a></li>
            <li id="l7"><a href="/send">发表博客</a></li>
        </ul>
        <div class="act">
            <a href="/login">登录</a>
            <a href="">注册</a>
        </div>
    </div>
</div>